[user]
	name = Ben Poppy
	email = me@benpoppy.dev
[init]
	defaultBranch = main
[pull]
	rebase = True
[core]
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  features = catppuccin-macchiato
  side-by-side = true
[merge]
  # Need to be on >= 2.35 to use zdiff3
  # Change when it's available
  conflictstyle = zdiff3
