[Desktop Entry]
Name=Obsidian
Exec=/home/benpoppy/Apps/obsidian/Obsidian.AppImage %U
Terminal=false
Type=Application
Icon=/home/benpoppy/Apps/obsidian/obsidian-icon.png
StartupWMClass=obsidian
X-AppImage-Version=1.5.12
Comment=Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
